<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Formulario JSF</title>
    </h:head>
    <h:body>
        <h:form>
            <h:messages globalOnly="true" ></h:messages>

            <table border="0">
                <tbody>
                    <tr>
                        <td><h:outputLabel for="nombre" value="Nombre"/></td>
                        <td><h:inputText id="nombre" value="#{candidato.nombre}" required="true" /></td>
                        <td><h:message for="nombre" /></td>
                    </tr>
                    <tr>
                        <td><h:outputLabel for="apellido" value="Apellido"/></td>
                        <td><h:inputText id="apellido" required="true" value="#{candidato.apellido}"/></td>
                        <td><h:message for="apellido"/></td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel for="suledoDeseado" value="sueldo deseado" /></td>
                        <td><h:inputTextarea id="sueldoDeseado" required="true" validatorMessage="Enter user friendly message"
                                             value="#{candidato.sueldoDeseado}">
                                <f:validateLongRange minimum="1000" maximum="15000"/>
                            </h:inputTextarea></td>
                        <td><h:message for="sueldoDeseado"/></td>
                    </tr>
                    <tr>
                        <td><h:outputLabel for="fechaNacimiento" value="Fecha de Nacimiento"/></td>
                        <td><h:inputText id="fechaNacimiento" required="true" value="#{candidato.fechaNacimiento}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:inputText></td>
                        <td><h:message for="fechaNacimiento"/></td>
                </tr>
            </tbody>
        </table>

        <br />
        <h:commandButton action="#{vacanteForm.enviar}" value="Enviar" />

    </h:form>
</h:body>
</html>

